*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
}

header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 60px;
	padding: 10px;
	background: #40506b;  /* #34495E  */
	z-index: 1000;
}

header #button-menu{
	font-size: 30px;
	color:#fff;
	cursor:pointer;
}

.menu {
	overflow: scroll;
}

#contenido{
	margin-top: 50px;
	width: 100%;
	padding: 10px;
}

.footer{
	margin-top: 200px;
}

.navegacion{
	position: absolute;
	top: 100%;
	left: 0;
	width: 0%;
	height: 100vh;
	background: rgba(0,0,0,.0);
	transition: background 0.2s;
	margin-bottom: 50px;
}

.navegacion ul{
	width: 320px;
	height: 100%;
	background: #fff;
	list-style: none;
	position: absolute;
	top:0;
	left: -320px;
	transition: left  .3s;
}

.navegacion .menu li.title-menu{
	padding: 20px;
	background: #5F6F81;
	color: #fff;
	text-align: center;
	font-size: 18px;
}

.navegacion .menu a{
	display: block;
	padding: 20px;
	border-bottom: 1px solid #C6D0DA;
	font-size: 22px;
	font-weight: 200;
	text-decoration: none;
	color: #575D69;
}

.navegacion .menu a:hover{
	background: #798DA3;
	color: #fff;
}

.ultimo_menu{
	display: block;
	padding: 20px;
	border-bottom: 1px solid #C6D0DA;
	font-size: 22px;
	font-weight: 200;
	text-decoration: none;
	color: #575D69;
	
}

.navegacion .menu li span.icon-menu{
	margin-right: 12px;
}

.navegacion .menu .item-submenu > a::after{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f105";

	float: right;
	color: #C5C5C5;
}

/* SUBMENU =======*/

.navegacion .submenu li.title-menu{
	background: #fff;
	color: #575D69;
}

.navegacion .submenu li.go-back{
	padding: 10px 20px;
	background: #5F6F81;
	color: #fff;
	font-size: 18px;
	cursor: pointer;	
}

.navegacion .submenu li.go-back::before{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: '\f0d9';
	margin-right: 10px;
}

@media screen and (max-width: 320px){
	.navegacion ul{
		width: 100%;
	}

}

#boton_barras{
	float: left;
	color: white;
	position: relative;	
}

#titulo{
	width: 70%;
	/*text-align: center;*/
	float: left;
	color: white;
	margin-left: 10px;
}

#usuario{
	float: right;
	color: white;
	 position: relative;	
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.thead-blue{
	background: #34495E;
	color: #fff;
}

.table{
	margin-top: 20px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-content {
  width: 800px;
  height: 600px;
}

.modal-dialog {
  width: 800px;
  height: 600px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-body{
 width: 800px;
  height: 450px; 
  overflow-y: 'auto'
}
